@model COMP2084_Assignment_02.Models.Professor

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Professor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PROFESSOR_ID" />
            <div class="form-group">
                <label asp-for="PROFESSOR_NAME" class="control-label"></label>
                <input asp-for="PROFESSOR_NAME" class="form-control" />
                <span asp-validation-for="PROFESSOR_NAME" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SEX" class="control-label"></label>
                <input asp-for="SEX" class="form-control" />
                <span asp-validation-for="SEX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EMAIL_ID" class="control-label"></label>
                <input asp-for="EMAIL_ID" class="form-control" />
                <span asp-validation-for="EMAIL_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="COURSE_ID" class="control-label"></label>
                <input asp-for="COURSE_ID" class="form-control" />
                <span asp-validation-for="COURSE_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
