@model COMP2084_Assignment_02.Models.CourseEnrollment

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CourseEnrollment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="COURSE_ENROLLMENT_ID" class="control-label"></label>
                <input asp-for="COURSE_ENROLLMENT_ID" class="form-control" />
                <span asp-validation-for="COURSE_ENROLLMENT_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="STUDENT_ID" class="control-label"></label>
                <input asp-for="STUDENT_ID" class="form-control" />
                <span asp-validation-for="STUDENT_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="COURSE_ID" class="control-label"></label>
                <input asp-for="COURSE_ID" class="form-control" />
                <span asp-validation-for="COURSE_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DAY" class="control-label"></label>
                <input asp-for="DAY" class="form-control" />
                <span asp-validation-for="DAY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ENROLLMENT" class="control-label"></label>
                <input asp-for="ENROLLMENT" class="form-control" />
                <span asp-validation-for="ENROLLMENT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
